header {
  height: 50px;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.right-section {
  display: flex;
  gap: 10px;
}
.NavLink {
  text-decoration: none;
  color: black;
}
